body {
    margin-top: 20px;
}

#show_case {

    width: 500px;
    height: 130px;
    min-height: 550px;
    overflow: scroll !important;
    margin-right: 100px;
    float: right;
    border: 1px solid #eeeeee;
    transition: all 1s ease-in-out;

}

.username {
    font-size: 14px;
    font-style: italic;
    background: #43c7ce;
    display: inline;
    color: #ffffff;
    padding: 5px;
    margin-top: 10px;
    width: 23px;
    height: 20px;
}

.text {
    display: inline;
    font-size: 14px;
    margin: 0 10px;
    color: #21326d;
    word-wrap: break-word;
    line-height: 25px;
}

#show_case span {
    text-align: center;
    background: rgba(150, 216, 255, 0.2);
    padding: 0 10px;
}

#user_dash {
    margin-right: 30px;
    text-align: center;
    float: right;
    transition: all 1s ease-in-out;
}

#user_dash textarea {
    padding: 10px;
    border: 4px dashed #eee;
    outline: none;
    color: #a8a8a8;
    font-size: 15px;
}

.message {
    background: #f0f8ff;
    margin: 3px;
    padding: 5px;
}

.btn {
    margin-top: 12px;
    background: #adff2f;
    border-radius: 10px;
    padding: 9px;
    font-weight: bold;
}

.join {
    margin-right: 50px;
    float: right;
    text-align: center;
    transition: all 1s ease-in-out;

}

#error {
    padding: 10px;
    font-size: 14px;
    font-style: italic;
    color: #82001e;
    border-top: 3px dashed #eee;
}

.join input[type="text"] {
    border: none;
    padding: 10px;
    background: #f5f5f5;
}

#user-form {
    display: inline;
}

.menu {
    width: 100px;
    color: #fff;
    position: absolute;
    z-index: 999999;
    display: none;
}

.target {
    background: #ff0000;
}

.menu ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu ul li {
    display: inline;
}

.menu button {
    border: none;
    padding: 10px;
    width: 100%;
    margin-bottom: 3px;
}

#delete {
    background: #e2410e;
    color: white;
    transition: all 100ms ease-in;
}

#delete:hover {
    background: #aa310b;
}

#edit {
    background: #4bd1ff;
    color: white;
    transition: all 100ms ease-in;
}

#edit:hover {
    background: #3aa2c5;
}

.disabled {
    background: #999 !important;
    color: #e0e0e0 !important;
}

.ajaxpic {
    display: table-cell;
    text-align: center;
    margin: 0 auto;
    width: 200px;
    margin-top: 100px;
}

#suggesstion-box {

    margin: 0 auto;
    text-align: center;
    display: table;
    width: 145px;
}

#suggesstion-box p img {
    padding: 2px;
}

#suggesstion-box p {
    display: inline;
    padding: 0;
    margin: 0;
}

.footer p {
    font-size: 13px;
    color: #a6a6a6;
}

@media screen and (max-width: 1360px)  and (min-width: 300px) {
    #show_case {
        margin: 0 auto;
        min-height: 44px;
        width: 100%;
        height: 300px;
    }

    #user_dash {
        margin-right: 0;
        margin-bottom: 10px;
        width: 100%;
        display: inline-block;
        height: 150px;
        visibility: visible;
    }

    #suggesstion-box {
        position: relative;
        z-index: 10;
        background: #fff;
        width: 100%;
    }

    #user_dash textarea {
        height: 100px;
    }

    .emoji {
        width: 163px;
        margin-right: 156px;
    }

    .join {
        position: relative;
        margin-bottom: 0;
        margin-right: 0;
        width: 100%;
        bottom: 73px;
    }

}